footer {
    z-index: 99999;
    background: url(http://localhost/CoffeeShop/image/bg-footer.jpg) repeat 0 0;

}

footer img {
    min-width: 160px;
    margin-top: 15px;
    z-index: 99999
}

.footer-top {
    margin-bottom: 30px;
    z-index: 99999;
    color: #DCD8CF;

}

footer .footer-top a {
    color: #DCD8CF;
    line-height: 34px;
    font-size: 1.6rem;
}

footer .footer-top i {
    color: #DCD8CF;
    border: 1px solid #DCD8CF;
    vertical-align: middle;
    line-height: 34px
}

footer .footer-top p {
    color: #DCD8CF;
    font-family: "Dubai";
    line-height: 34px
}

footer {
    margin-top: 50px;
    padding: 0px 0 0;
    overflow: hidden;
    color: #DCD8CF;
    padding-top: 0px;
    background-color: #111;
    z-index: 99999
}

footer ul {
    margin: 0px;
    padding: 0px;
    z-index: 99999
}

footer ul li {
    list-style-type: none;
    z-index: 99999
}

footer a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
    z-index: 99999
}

footer .footer-inner {
    margin: auto;
    overflow: hidden;
    margin-bottom: 30px;
    z-index: 99999;

}

footer .footer-inner h3 {
    color: #3D4C4F;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0 0 10px;
}

footer .footer-links a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 14px;
    display: inline-block!important;
    cursor: pointer;
    line-height: 20px;
    color: #aaa;
    margin-right: 5px;
}

footer p {
    font-size: 15px;
    color: #f2f2f2;
    padding-top: 0px;
    padding-bottom: 5px;
}


footer .footer-links h5 a {
    display: inline-block;
    color: ##717171;
    font-size: 20px;
    font-weight: 700
}

footer .footer-links a {
    display: inline-block;
    font-size: 19px;
    font-family: "Dubai"
}

footer a {
    line-height: normal;
}

footer a:hover {
    color: #fdae03;
}

footer p {
    line-height: 20px;
    margin-top: 25px
}

footer a {
    color: #aaa
}

footer h5 {
    padding: 0 0 10px;
    font-size: 18px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px
}

footer .input-text:focus {
    background: #fff;
    border-color: #464646;
}

footer a:hover {
    text-decoration: none;
}

footer .coppyright {
    color: #f2f2f2;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-family: "Dubai";
    font-size: 17px;
    height: 32px
}

footer .coppyright a {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px
}

#coppyright {
    background: url(http://localhost/CoffeeShop/image/bg-footer.jpg) repeat 0 0;
}

.footer-bottom {
    padding: 0px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 15px 0 12px;
    background: url(http://localhost/CoffeeShop/image/bg-footer-bottom.jpg) repeat 0 0;

}

.footer-bottom a {
    color: #DCD8CF;
}

footer address {
    display: block;
    margin: auto;
    font-style: normal;
    line-height: 35px;
    color: #777;
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
    border: none;
    letter-spacing: 0.5px
}

footer address p {
    display: inline-block;
    padding: 0px;
    color: #666;
}

footer address i {
    border: 1px #888 solid;
    width: 35px!important;
    line-height: 33px!important;
    display: inline-block!important;
    height: 35px!important;
    text-align: center;
    margin-left: 20px!important;
    border-radius: 2px;
    margin-right: 5px!important;
}

footer address .fa {
    font-size: 16px
}

footer address .fa-envelope {
    font-size: 14px
}

footer address .fa-mobile {
    font-size: 19px
}

.contact-info {
    text-align: center;
}

.footer-box {
    width: 1240px;
    margin: auto;
}

footer ul span {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    line-height: 15px;
    padding-right: 3px;
}

address {
    display: block;
    margin: auto;
    font-style: normal;
    line-height: 21px;
    color: #999;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 15px
}

.footer-logo {
    text-align: left;
    margin: 10px 0;
}

.newsletter-inner {
    display: inline-block
}

.footer-newsletter form {
    display: inline-block;
    margin-top: 10px;
}

.footer-newsletter .newsletter-email {
    float: left;
    font-size: 12px;
    font-weight: 300;
    border: 0;
    background: #fff;
    color: #666;
    padding: 10px 12px;
    width: 70%;
    border-radius: 3px 0px 0px 3px;
}

.footer-newsletter .email {
    text-transform: none;
    float: left
}

.newsletter-email:placeholder-shown {
    font-size: 17px;
    font-family: "Dubai";
    letter-spacing: 1.4px;
    color: #eee;
    font-weight: 300 !important;

}

.newsletter-email {
    font-size: 17px !important;
    font-family: "Dubai";
    letter-spacing: 1.4px;
    color: #242424 !important;
    font-weight: 500 !important;
}

.footer-newsletter .subscribe {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    float: right;
    color: #fff;
    text-decoration: none;
    background: #678;
    border: 1px solid #DCD8CF;
    padding: 10px 10px 8px 10px;
    border-radius: 0px 3px 3px 0px;
    text-transform: uppercase;
    width: 30%;
    min-width: 120px;
    font-family: "Dubai";
    letter-spacing: 1.4px;
    transition: all 0.3s
}

.footer-newsletter .subscribe:hover {
    background: #8A533D;
    border: 1px solid #DCD8CF;
    color: #DCD8CF;
    padding: 10px 10px 8px 10px;
    transition: all 0.3s
}

.social-section {
    padding: 0px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    background: #191919
}

.social {
    overflow: hidden
}

.social h5 {
    margin: 28px 0 0px 0px;
    padding: 0;
    font-family: "Dubai";
}


.social ul.inline-mode li {
    display: inline-block;
    margin-right: 6px;
}

.social ul.inline-mode li a {
    border: 0px solid #666;
    color: #fff;
    font-size: 15px;
    height: 38px;
    line-height: 24px;
    width: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.social .fb a:hover,
.social .tw a:hover,
.social .googleplus a:hover,
.social .instagram a:hover {
    background: #00b9f5;
    color: #ffffff !important;
    transition: all 0.3s
}

.social .fb:hover a {
    background: #3C5B9B
}

.social .tw:hover a {
    background: #359BED
}

.social .googleplus:hover a {
    background: #E33729
}

.social .instagram:hover a {
    background: #3f729b
}

.social-network a {
    background: #DCD8CF;
    color: #242424 !important;
    transition: all 0.3s
}

.social-network a i {
    font-size: 1.8rem;
    line-height: 26px
}

.subscribe-text {
    display: flex;
    max-width: 100%;
}

.subscribe-text button,
.subscribe-text input {
    height: 40px;
    line-height: 20px !important;
    padding: 0;
    margin: 0;
}

.footer-newsletter {
    margin-top: 15px;
    margin-bottom: 0;
}

.footer-newsletter h5 {
    margin: 28px 0 0px 0px;
    padding: 0;
    font-family: "Dubai";
}

.footer-newsletter p {
    font-size: 17px;
    font-family: "Dubai";

}

.footer-newsletter form {
    margin: 0;
}
