* {
    box-sizing: border-box;
    font-family: arial
}



section,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover,
a {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:1024px) {
    .container {
        /*        width: 970px*/
    }
}

@media screen and (max-width:467px) {
    .col-tn-1,
    .col-tn-10,
    .col-tn-11,
    .col-tn-12,
    .col-tn-2,
    .col-tn-3,
    .col-tn-4,
    .col-tn-5,
    .col-tn-6,
    .col-tn-7,
    .col-tn-8,
    .col-tn-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }
    .col-tn-1,
    .col-tn-10,
    .col-tn-11,
    .col-tn-12,
    .col-tn-2,
    .col-tn-3,
    .col-tn-4,
    .col-tn-5,
    .col-tn-6,
    .col-tn-7,
    .col-tn-8,
    .col-tn-9 {
        float: left
    }

    .col-tn-12 {
        width: 100%
    }

    .col-tn-11 {
        width: 91.66666667%
    }

    .col-tn-10 {
        width: 83.33333333%
    }

    .col-tn-9 {
        width: 75%
    }

    .col-tn-8 {
        width: 66.66666667%
    }

    .col-tn-7 {
        width: 58.33333333%
    }

    .col-tn-6 {
        width: 50%
    }

    .col-tn-5 {
        width: 41.66666667%
    }

    .col-tn-4 {
        width: 33.33333333%
    }

    .col-tn-3 {
        width: 25%
    }

    .col-tn-2 {
        width: 16.66666667%
    }

    .col-tn-1 {
        width: 8.33333333%
    }

    .col-tn-pull-12 {
        right: 100%
    }

    .col-tn-pull-11 {
        right: 91.66666667%
    }

    .col-tn-pull-10 {
        right: 83.33333333%
    }

    .col-tn-pull-9 {
        right: 75%
    }

    .col-tn-pull-8 {
        right: 66.66666667%
    }

    .col-tn-pull-7 {
        right: 58.33333333%
    }

    .col-tn-pull-6 {
        right: 50%
    }

    .col-tn-pull-5 {
        right: 41.66666667%
    }

    .col-tn-pull-4 {
        right: 33.33333333%
    }

    .col-tn-pull-3 {
        right: 25%
    }

    .col-tn-pull-2 {
        right: 16.66666667%
    }

    .col-tn-pull-1 {
        right: 8.33333333%
    }

    .col-tn-pull-0 {
        right: auto
    }

    .col-tn-push-12 {
        left: 100%
    }

    .col-tn-push-11 {
        left: 91.66666667%
    }

    .col-tn-push-10 {
        left: 83.33333333%
    }

    .col-tn-push-9 {
        left: 75%
    }

    .col-tn-push-8 {
        left: 66.66666667%
    }

    .col-tn-push-7 {
        left: 58.33333333%
    }

    .col-tn-push-6 {
        left: 50%
    }

    .col-tn-push-5 {
        left: 41.66666667%
    }

    .col-tn-push-4 {
        left: 33.33333333%
    }

    .col-tn-push-3 {
        left: 25%
    }

    .col-tn-push-2 {
        left: 16.66666667%
    }

    .col-tn-push-1 {
        left: 8.33333333%
    }

    .col-tn-push-0 {
        left: auto
    }

    .col-tn-offset-12 {
        margin-left: 100%
    }

    .col-tn-offset-11 {
        margin-left: 91.66666667%
    }

    .col-tn-offset-10 {
        margin-left: 83.33333333%
    }

    .col-tn-offset-9 {
        margin-left: 75%
    }

    .col-tn-offset-8 {
        margin-left: 66.66666667%
    }

    .col-tn-offset-7 {
        margin-left: 58.33333333%
    }

    .col-tn-offset-6 {
        margin-left: 50%
    }

    .col-tn-offset-5 {
        margin-left: 41.66666667%
    }

    .col-tn-offset-4 {
        margin-left: 33.33333333%
    }

    .col-tn-offset-3 {
        margin-left: 25%
    }

    .col-tn-offset-2 {
        margin-left: 16.66666667%
    }

    .col-tn-offset-1 {
        margin-left: 8.33333333%
    }

    .col-tn-offset-0 {
        margin-left: 0
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


.button {
    border-radius: 25px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    min-height: 32px;
    min-width: 32px;
    font-size: 1.2rem;
    margin: 2px
}

.red {
    background: #CF2127;
    color: #fff
}

.blue {
    background: #4267B2;
    color: #fff
}

.gray {
    background: #B0C4DE;
    color: #2e3233
}

.fab {
    border-radius: 50%;
    margin: 0;
    padding: 20px;
}

.material {
    position: relative;
    color: white;
    margin: 20px auto;
    height: 400px;
    width: 500px;
    background: #f45673;

}

.ripple {
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
