@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');
.product.list-view {
    padding-left: 5px;
    padding-right: 5px
}

.flex-justify {
    display: flex;
    justify-content: space-between;
    padding: 2px 0
}

.flex-justify h4 {
    text-align: left;
    width: 50%;
    color: #DCD8CF
}

.flex-justify label {
    color: #8A533D
}

.flex-justify div:not(:last-child) {
    margin-right: 5px
}

.slider-item {
    padding: 0;
    margin: 0
}

.slider-item .resCarousel-inner {
    margin: 0 -15px
}

.item-container {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #333333;
    text-align: center;
    background-color: 0;
    line-height: 1.6em;
    padding: 0 6px;
    transition: all 0.3s;
    margin-bottom: 25px
}

.item-container.list-view {
    background: #fff;
}

.item-container .item-box {
    border: 1px solid rgba(93, 64, 55, 0.2);
}

.item-container.list-view .item-box {
    border: 0;
}

.item-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.item-container .image {
    position: relative;
    width: 100%;
    background: #f9f9f9;
    margin-bottom: 3px
}



.item-container img {
    width: auto;
    object-fit: contain;
    width: 100%;
    height: 180px;
    vertical-align: top;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    transition: all 0.3s;
    opacity: 0.8;

}


.item-container .add-to-cart {}

.item-container .view-times {}

.item-container .view-times small {
    font-size: 1.5rem;
    font-family: "Dubai";
    font-weight: 500;
    margin-left: -7px;
    letter-spacing: 1.5px;
}

.item-container .icons {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .04);
    z-index: 999
}

.item-container .icons.list-view {
    margin-left: -21px;
    margin-right: -21px;
    background: 0;

}

.item-container .icons .iconaction {
    z-index: 2
}

.item-container .icons i {
    line-height: 36px;
    width: 36px;
    font-size: 20px;
    color: #8A533D;
    text-align: center;
    margin: 0;
    cursor: pointer
}

.item-container .view-detail,
.item-container .add-to-cart {
    width: 100%;
    display: block;
    font-size: 1.7rem;
    color: #DCD8CF;
    height: 42px;
    line-height: 45px;
    letter-spacing: 1.5px;
    background-color: #8A533D;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Dubai"
}


.item-container .view-detail {
    background: #B4AB96;
    color: #fff
}

.item-container .view-detail:hover {
    background: #E0983A
}

.item-container .add-to-cart:hover {
    background: #E0983A;
    color: #ffffff;
}

.item-container.list-view .image-list {
    position: relative;
}

.item-container.list-view .view-detail {
    margin: 5px 8px;
    width: auto;
}

.item-container.list-view .add-to-cart {
    margin: 5px 0;
    width: auto;

}

.item-container.list-view .view-detail,
.item-container.list-view .add-to-cart {
    margin: 5px 0;
    width: auto;

}

.item-container.list-view .flex-justify {
    justify-content: flex-start;
}

.item-container.list-view .flex-justify a {
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5rem
}

.item-container figcaption {
    padding: 15px 0 0px;
    background: #f2f2f2;
}

.item-container.list-view figcaption {
    padding: 15px 5px 0px;
    background: #fff;
    height: auto
}

.item-container.list-view figcaption .info {
    height: 140px
}

.item-container.list-view figcaption .info .describe {
    height: 50px
}

.item-container h4,
.item-container p {
    margin: 0;
    text-align: left;
}

.item-container h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

.item-container p {
    margin-bottom: 15px;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 18px
}

.item-container .info {}

.item-container .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-container .name h4 {
    font-family: "Dubai";
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.4px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2rem;
    color: #8A533D;
    margin: 0;
}

.item-container .name hr {
    background: #A69E8A;
    color: #A69E8A;
    display: block;
    height: 2.5px;
    width: 50px;
    margin: 15px auto
}

.item-container:hover .name hr {
    background: #5D4037;
    display: block;
    height: 2.5px;
    width: 50%;
}

.item-container:hover {
    transition: all 0.3s
}

.item-container:hover img {
    transform: scale(1.2);
    transition: all 0.3s
}

.item-container .btnLike:hover,
.item-container .icons:hover {
    transform: scale(1);
    transition: all 0.3s
}

.item-container.list-view:hover img {
    transform: scale(1);
}

.item-container .name .price {
    text-align: center;
    height: 36px;
    color: #747885;
    font-size: 22px;
    font-weight: 400;
    font: "Roboto Condensed", sans-serif;
    color: #6a6e7e;
    letter-spacing: 1.5px;
}

.align-left {
    text-align: left !important;

}

.align-left h4 {
    text-align: left !important;
    padding-left: 10px;
    padding-right: 10px;
}

.item-container .name .describe {
    text-align: left;
    height: 36px;
    color: #747885;
    font-size: 15px;
    font-weight: 400;
    font: "Roboto Condensed", sans-serif;
    color: #6a6e7e;
    margin: 10px;
}

.item-container button {
    background: #745;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 135px
}

.item-container:hover img,
.item-container.hover img {
    opacity: 1;
}

@media screen and (min-width:768px) {}

.item-container:hover .icons,
.item-container.hover .icons,
.item-container:hover .add-to-cart,
.item-container.hover .add-to-cart {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.item-container-short {
    transition: all 0.3s;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden
}

.item-container-short:hover {
    background: rgba(0, 0, 0, .1);
    transition: all 0.3s;

}

.item-container-short:hover img {
    opacity: 0.7;
    transition: all 0.3s;

}

.item-container-short .image {
    max-width: 100%;
}

.item-container-short .image img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    opacity: 1
}

.item-container-short .name {
    display: flex;
    justify-content: center;
    width: 100%
}

.item-container-short h4 {
    display: block;
    color: #8A533D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    min-width: 56px
}

.list-view p {
    white-space: normal;
    width: 100%;
    line-height: 24px
}

.item-container-short span {
    color: #8A533D;
    line-height: 36px;
    font-size: 20px
}

.item-container-short .btnQuickView {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1000%);
    transition: all 0.3s
}

.item-container-short:hover .btnQuickView {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    z-index: 99999;
    background: #603018;
    color: #fff;
    padding: 12px 8px;
    border-radius: 5px
}

.btnLike,
.btnShare {
    z-index: 99999999;
    cursor: pointer
}

.btnLike:hover,
.btnShare:hover {
    z-index: 99999999!important;
    cursor: pointer
}

.btnShare {
    display: none
}

.service-container,
.booking-container {
    height: 180px;
    position: relative;
    transition: all 0.3s
}

.booking-container .image,
.service-container .image {}

.service-container .image img,
.booking-container .image img {
    height: 180px;
    width: 100%;
    padding: 0 2.5px;
    transition: all 0.3s
}

.service-container .view-detail,
.booking-container .view-detail {
    display: block;
    color: #fff;
    background: #845a5a;
    padding: 12px 8px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-300%);
    position: absolute;
    opacity: 0;
    transition: all 0.3s
}

.service-container:hover,
.booking-container:hover {}

.service-container:hover .view-detail,
.booking-container:hover .view-detail {
    top: 50%;
    opacity: 1;
    transform: translateY(-40%);
    position: absolute;
    z-index: 9999;
    transition: all 0.3s
}

.service-container .view-detail:hover,
.booking-container .view-detail:hover {
    opacity: 1;
    transition: all 0.3s
}

.service-container figcaption {}

.booking-container figcaption {}

.service-container figcaption h4,
.booking-container figcaption h4 {
    color: #8A533D;
    font-weight: 700;
    font-family: "Dubai";
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}
