.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #8A533D !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #8A533D;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

#od > .table tr td:nth-child(7) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab-content {
    padding: 20px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.head-tab {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase
}

.table-body {
    font-size: 15px;
    /*    color: #8A533D*/
}

.logout {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logout-btn {
    padding: 5px 7px;
    background: #DDD9CF;
    color: #8A523D
}

.logout-btn:hover {
    background: #8A523D;
    color: #DDD9CF
}
